.list {
    width: 40%;
    margin: 0 auto;
}

table, th, td{
	border: solid 1px;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.table__idx{
    text-align: center;
    width: 5%;
}

.table__product{
    text-align: left;
    width: 45%;
}

.inputstyle{
    width:calc(100% - 20px);
	border-radius: 14px;
	border: solid 1px gray;
    padding: 5px 10px;
	
}

.submit{
    width:calc(100% - 20px);
    padding: 5px 10px;
	border-radius: 14px;
	border: solid 1px gray;
}

th{
	border: 0;
	table-layout: fixed;
	width: 80px;
}

td{
	text-align: right;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.row{
    display: flex;
    margin-bottom: 1em;
}

.col-100{
    flex: 1;
    width: 100%;
}

.col-33{
    flex: 0 0 33.333%;
    width: 33.333%;
}